<ng-container *ngIf="!hasJoined">
	<div class="form pt-4 px-6">
		<label for="intialUsername" class="label">Name:</label>
		<input id="intialUsername" type="text" class="input" [(ngModel)]="username" />

		<label for="password" class="label">Room password:</label>
		<input id="roomPassword" type="password" class="input" />

		<button class="button mt-2 mx-2 is-primary" (click)="joinRoom()">Join</button>
		<a [routerLink]="['/rooms']" class="button mx-2 mt-2">Cancel</a>
	</div>
</ng-container>
<div *ngIf="hasJoined" class="pt-4 px-6">
	<label for="username" class="label">Name:</label>
	<input id="username" type="text" class="input" [(ngModel)]="username" />
	<button class="button mt-2 mx-2 is-primary" (click)="updateUsername()">Update Name</button>

	<button class="button buzzer notification" [ngClass]="getBuzzerClass()" (click)="buzz()">
		<div class="title">
			Buzz!
		</div>
		<div class="subtitle" *ngIf="buzzResult && buzzResult.isFirstBuzz">
			#1
		</div>
		<div class="subtitle" *ngIf="!buzzResult?.isFirstBuzz && buzzResult?.delay">
			#{{buzzResult?.position}} -
			<span *ngIf="buzzResult.delay.minutes > 0">
				{{buzzResult.delay.minutes}}m
			</span>
			<span> {{buzzResult.delay.seconds}}.</span>
			<span>{{buzzResult.delay.milliseconds}}s</span>
		</div>
	</button>

	<div class="tile is-ancestor">
		<div class="tile is-parent" *ngFor="let user of room?.usersInRoom">
			<div class="name-container tile is-child notification"
				[class.is-success]="user.buzzResult && user.buzzResult?.isFirstBuzz"
				[class.is-warning]="user.buzzResult && !user.buzzResult?.isFirstBuzz">
				<div class="name title">
					{{user.name}}
				</div>
				<div class="time subtitle" *ngIf="user.buzzResult?.isFirstBuzz">
					#{{user.buzzResult?.position}}
				</div>
				<div class="time subtitle" *ngIf="!user.buzzResult?.isFirstBuzz && user.buzzResult?.delay">
					#{{user.buzzResult?.position}} -
					<span *ngIf="user.buzzResult.delay.minutes > 0">
						{{user.buzzResult.delay.minutes}}m
					</span>
					<span> {{user.buzzResult.delay.seconds}}.</span>
					<span>{{user.buzzResult.delay.milliseconds}}s</span>
				</div>
			</div>
		</div>
	</div>

	<button class="button" (click)="clear()">Clear</button>
</div>