@use '../../../styles/mixins.scss';

.buzzer {
	display: block;
	margin: 20px 0;
	width: 100%;
	height: 500px;
	border-radius: 10px;

	@include mixins.phone-only {
		height: 300px;
	}
}

.name {
	@include mixins.phone-only {
		font-size: 110%;
	}
}