@use '../../styles/mixins.scss';

@include mixins.phone-only {
	.header {
		display: none;
	}
}

.row {
	background-color: #f3f3f3;
	border-radius: 5px;

	@include mixins.phone-only {
		.id {
			display: none;
		}
	}
}

.column:not(:last-child) {
	border-right: 1px solid lightgray
}